body {
    margin-top: 10px;
    background-color: #935d8c;
    background-image: -moz-linear-gradient(45deg, #df1515 15%, #FFFFFF 85%);
    background-image: -webkit-linear-gradient(45deg, #df1515 15%, #FFFFFF 85%);
    background-image: -ms-linear-gradient(45deg, #df1515 15%, #FFFFFF 85%);
    background-image: linear-gradient(45deg, #df1515 15%, #FFFFFF 85%);
    min-height: 100vh;
}

.panel-heading {
    background: #df1515;
}

.panel-heading h3 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 4px;
    margin: 6px 0 0 0;
}

.chat-box {
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow: hidden
}

.chats {
    padding: 30px 15px
}

#name {
    display: block;
}

#selection {
    display: none;
}

#selection .loader {
    display: none;
}

#selection .loader:after {
    --c: #0000 64%, #df1515 66% 98%, #0000 101%;
}

#selection .loader:before {
    -webkit-mask: repeating-linear-gradient(90deg, #df1515 0 8%, #0000 0 15%);
}

#chat {
    display: none;
}

.chat-avatar {
    float: right
}

.chat-avatar .avatar {
    width: 30px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.chat-body {
    display: block;
    margin: 10px 30px 0 0;
    overflow: hidden
}

.chat-body:first-child {
    margin-top: 0
}

.chat-content {
    position: relative;
    display: block;
    float: right;
    padding: 8px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #ff8681;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.chat-content:before {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-left-color: #ff8681
}

.chat-content ul.timings {
    list-style-type: none;
    margin: 0;
    padding: 16px 0 0 0;
    overflow: hidden;
}

.chat-content ul.examples {
    padding-left: 20px;
}

.chat-content li {
    font-weight: bold;
    cursor: pointer;
}

.chat-content ul.timings li {
    float: left;
    padding-left: 12px;
}

.chat-content > p:last-child {
    margin-bottom: 0
}

.chat-content + .chat-content:before {
    border-color: transparent
}

.chat-time {
    display: block;
    margin-top: 8px;
    color: rgba(255, 255, 255, .6)
}

.chat-left .chat-avatar {
    float: left
}

.chat-left .chat-body {
    margin-right: 0;
    margin-left: 30px
}

.chat-left .chat-content {
    float: left;
    margin: 0 0 10px 20px;
    color: #616161;
    background-color: #dfe9ef
}

.chat-left .chat-content:before {
    right: auto;
    left: -10px;
    border-right-color: #dfe9ef;
    border-left-color: transparent
}

.chat-left .chat-content + .chat-content:before {
    border-color: transparent
}

.chat-left .chat-time {
    color: #a3afb7
}

.loader {
    display: inline-grid;
    padding: 5px;
}

.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    height: 24px;
    aspect-ratio: 3;
    --c: #0000 64%, #FFF 66% 98%, #0000 101%;
    background: radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%, var(--c)) 100% 100%;
    background-size: calc(200% / 3) 50%;
    background-repeat: repeat-x;
}

.loader:before {
    -webkit-mask: repeating-linear-gradient(90deg, #FFF 0 8%, #0000 0 15%);
}

.loader:after {
    clip-path: inset(0 100% 0 0);
    animation: l13 1.5s infinite linear;
}

@keyframes l13 {
    50% {
        clip-path: inset(0)
    }
    to {
        clip-path: inset(0 0 0 100%)
    }
}

.panel-footer {
    padding: 0 30px 15px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px;
}

.chat-avatar .avatar {
    width: 30px;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
}

#header {
    text-align: center;
    margin: 24px 0;
}

#sidebar {
    background: white;
}

#sidebar p {
    padding: 8px
}

#sidebar > iframe {
    border: none;
    display: none;
}

#examples {
    display: none;
}

#examples ul {
    list-style-type: none;
    margin: 0;
    padding: 0 8px;
}

#examples ul li {
    margin-top: 8px;
    cursor: pointer;
}

#examples ul li:hover {
    text-decoration: underline;
}

.btn-primary {
    background: #df1515;
    border-color: #e64b43;
    color: white;
}

.btn-primary:hover, .btn-primary:focus {
    background: #ff5b54;
    border-color: #e64b43;
}

#record_modal p {
    display: none;
    text-align: center;
}

#video_change {
    display: none;
    color: black;
    font-weight: bold;
}

button#record_voice {
    font-size: 28px;
    width: 56px;
    height: 56px;
}